<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://laurenraczkowski.netlify.com/">Lauren Raczkowski</a>. A web developer who is on a mission to connect like-minded, entrepreneurial, and socially conscious women around the world.
  </p>
  <br />




  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Lauren_R.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Lauren Raczkowski</h2>
      <br />
      <p>
        Lauren Raczkowski is a full-stack web developer. She completed her coding program through Vanderbilt University. With a background in marketing and healthcare, she brings a unique perspective to the world of development. 
      </p>
    </div> 
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />