@import "bootstrap";

.clear {
  clear: both;
}

@-ms-viewport{
  width: device-width;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #553D67;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: #242582;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

header {
  border-top: 9px solid #222222;
}

body {
  background: image_url('greek-vase.png');
  font-family: 'Open Sans Condensed', sans-serif;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 48px;
 }

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

.next-quote {
  color: #553D67;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.footer-blurb {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 span {
  color: #F64C72;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

::selection {
  background-color: #99738E;
}